/* index */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.principal {
    margin: 0 auto;
    background-image: url(img/panel.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    backdrop-filter: brightness(60%);
    border-image: fill 0 linear-gradient(#0001, #000);
}

.principal-form {
    margin: 0 auto;
    background-image: url(img/panel.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    backdrop-filter: brightness(60%);
    border-image: fill 0 linear-gradient(#0001, #000);
    
}

header {
    font-family: "Montserrat", sans-serif;
    background: #000;
    color: white;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.panel {
    display: flex;
    gap: 10px;
    padding: 20px 200px 20px 20px;
    margin-left: auto;
    justify-content:flex-end;
}

.button {
    display: flex;
    gap: 10px;
    padding: 20px 20px 20px 20px;
    margin-left: auto;
    justify-content:flex-end;
    
}

#registrar-btn, #ingresar-btn {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#registrar-btn {
    background: #e05655;
    color: white;
}

#registrar-btn:hover {
    background-color: #005f5f;
}

#ingresar-btn {
    background: none;
    color: #f0f0f0;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    padding: 25px 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.hero h2, .hero h3 {
    margin: 10px 0;
}

.text {
    text-align: center;
}

.img-logo {
    text-align: right;
}

.img-logo-form
{
    text-align: center;
}

.form-cont {
    display: grid;
    justify-content: center;
    text-align: center;
}

.form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 35rem;
    min-width: 300px;
    width: 100%;
}

.form h1 {
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-bottom: 24px;
    margin-top: 0px;
}
.about, .tournaments, .gallery {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    padding: 25px 20px;
    text-align: center;
}

.tournament-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tournament-item {
    background: #eee;
    padding: 20px;
    border-radius: 5px;
    flex: 1 1 200px;
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-images img {
    width: 100%;
    max-width: 200px;
    border-radius: 3px;
}

.secundaria {
    margin: 0 auto;
    background: #000;
}

footer {
    font-family: "Montserrat", sans-serif;
    background: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-top: 150px;
}


/* registro */

.form-group {
    margin-bottom: 15px;
}



label {
    font-family: "Montserrat", sans-serif;
    color: #eee;
    font-weight: light;
    display: block;
    margin-bottom: 5px;
    
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    
    background: #e05655;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #005f5f;
}

/* login */

.footer-login {
    font-family: "Montserrat", sans-serif;
    background: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-top: 300px;

}

/* home */

.panel-home {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 6px;
    padding-left: 150px;
    padding-right: 150px;
    z-index: 30;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    background-color:#262626;
    background: linear-gradient(90deg in oklab, #9e0110, #00025a);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    
}

.user-panel {
    display: inline-flex;
}

.user-name {
    font-size: 1em;
    border-right: 1px solid #fff;
    padding-right: 20px;

}

.torneos {
    font-size: 0.8em;
    display: grid;
    justify-items: center;
    cursor: pointer;
}


.logout {
    font-size: 0.8em;
    display: grid;
    justify-items: center;
    cursor: pointer;
}

.hero-content-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.torneo-contenedor {
    display: grid;
    
}

.torneo-contenedor img {
    width: 100%;
    max-width: 200px;
    min-height: 230px;
    border-radius: 3px;
}


.gallery-images buttom {
    
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 900;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: none;
    color: #f0f0f0;
    
}

.inscripcion {
    margin-top: 20px;
    padding: 10px 10px;
}

.modal {
    display: none; /* Por defecto, la modal está oculta */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro semi-transparente */
}

.modal-content {
    background-color: #e05655;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 1em;
    font-weight: 900;
}

.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*  Chatbot  */

body .card {
    position: fixed;
    bottom: 20px; /* Distancia desde el borde inferior de la pantalla */
    right: 20px; /* Distancia desde el borde derecho de la pantalla */
    height: 30vh; /* Ajusta la altura del chatbot */
    width: 25vh; /* Ajusta el ancho del chatbot */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

body .card #header {
    height: 4vh; /* Ajusta la altura del encabezado */
    background: #e05655;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

body .card #header h1 {
    color: #fff;
    font-size: 1.5vh; /* Ajusta el tamaño de la fuente del encabezado */
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

body .card #message-section {
    height: 20vh; /* Ajusta la altura de la sección de mensajes */
    padding: 0 1vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar {
    width: 5px; /* Ajusta el tamaño del scrollbar */
}

body .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

body .card #message-section #bot,
body .card #message-section #user {
    position: relative;
    min-height: 1.5vh; /* Ajusta la altura mínima de los mensajes */
    border: 0.15vh solid #777;
    background-color: #fff;
    border-radius: 0 1.5vh 1.5vh 1.8vh;
    padding: 1vh;
    margin: 1.5vh 0;
}

body .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vh 0 1.5vh 1.8vh;
    background-color: #000;
    float: right;
}

body .card #message-section #user #user-response {
    color: #fff;
}

body .card #message-section .message {
    color: #000;
    clear: both;
    line-height: 1.2vh; /* Ajusta la altura de línea de los mensajes */
    font-size: 1.2vh; /* Ajusta el tamaño de fuente de los mensajes */
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
}

body .card #input-section {
    z-index: 1;
    padding: 0 1vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 5vh; /* Ajusta la altura de la sección de entrada */
    width: 100%;
}

body .card #input-section input {
    color: #000;
    min-width: 0.5vh;
    outline: none;
    height: 4vh; /* Ajusta la altura del campo de entrada */
    width: 18vh; /* Ajusta el ancho del campo de entrada */
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 0.1vh;
}

body .card .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 1vh;
    padding: 0;
    position: relative;
    outline: none;
}

body .card .send .circle {
    position: relative;
    width: 3vh; /* Ajusta el tamaño del botón de enviar */
    height: 3vh; /* Ajusta el tamaño del botón de enviar */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

body .card .send .circle img {
    width: 2vh; /* Ajusta el tamaño del icono de enviar */
    height: 2vh; /* Ajusta el tamaño del icono de enviar */
}




/* Media Queries index*/
@media (min-width: 100px) {

    .panel {
        padding: 0;
    }

    .hero {
        display:block;
    }

    .hero-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .logo-text {
        flex-direction: column;
    }

    .text {
        text-align: left;
        margin-left: 20px;
    }

    .gallery-images img {
        width: 150px;
    }

    .panel-home {
        flex-direction: column;
        text-align: center;
    }

    .user-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-name {
        font-size: 1em;
        border-right: none;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .torneos {
        font-size: 0.8em;
        display: grid;
        justify-items: center;
        margin-top: 10px;
    }
    
    .logout {
        font-size: 0.8em;
        display: grid;
        justify-items: center;
        margin-top: 10px;
    }

}

@media (min-width: 600px) {

    .panel {
        display: flex;
        gap: 10px;
        padding: 20px 200px 20px 20px;
        margin-left: auto;
        justify-content:flex-end;
    }

    .hero-content {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    .logo-text {
        flex-direction: row;
    }

    .text {
        text-align: left;
        margin-left: 20px;
    }

    .gallery-images img {
        width: 150px;
    }

    .panel-home {
        padding-left: 50px;
        padding-right: 50px;
    }

    .user-panel {
        flex-direction: row;
        align-items: center;
    }

    .user-name {
        border-right: 1px solid #fff;
        padding-right: 20px;
        margin-bottom: 0;
    }

    .torneos, .logout {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .hero {
        font-size: 1.8rem;
    }

    .panel-home {
        padding-left: 100px;
        padding-right: 100px;
        flex-direction: row;
        text-align: left;
    }

    .user-panel {
        flex-direction: row;
        align-items: center;
    }

    .user-name {
        border-right: 1px solid #fff;
        padding-right: 20px;
        margin-bottom: 0;
    }

    .torneos, .logout {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    .hero-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .text {
        max-width: 50%;
    }

    .panel-home {
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* Medio Queries registro*/
